.form-principal{
    background-color: rgb(246, 246, 246);
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
}

.contenedor-guardar{
    width: 40%;
    display: flex;
    justify-content: center;   
    align-items: center; 
}

.boton-guardar{
    width: 150px;
    font-size: 50px;
    margin-top: 20px;
    margin: 10px;
}

.titulo-formulario{
    margin-top: 20px;
    margin: 30px;
    font-size: 30px;
    font-weight: 800;
}

.boton-agregar{
    box-shadow: 0 6px 10px rgba(56, 14, 134, 0.1);    
}