.contenedor-principal-formlogin{
    margin-bottom: 800px;
    margin-top: 80px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    height: auto;
}

.link-registrarse{
    margin: 10px;
    padding: 10px;
}