.inicio-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    margin: 20px 0;
    padding: 40px;
    width: 80%;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card h2 {
    margin-top: 0;
  }
  
  .card p {
    margin-bottom: 20px;
  }

  p{
    text-align: justify;
  }