.contenedor-menu{
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);        
}

/* Estilos para los enlaces Link */
.nav-item {
    margin-right: 10px; /* Espacio entre elementos del menú */
  }
  
  .nav-item a {
    text-decoration: none; /* Quitar subrayado del texto del enlace */
    color: #333; /* Color del texto del enlace */
    font-weight: bold; /* Fuente en negrita */
    transition: color 0.3s ease; /* Transición suave del color al pasar el mouse */
  }
  
  .nav-item a:hover {
    color: #007bff; /* Cambiar color al pasar el mouse sobre el enlace */
  }
  